.emptyCell{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
    min-height: 50px;
    padding: 7px;
    background-color: white;
}
  
.reservationCell{
    border-radius: 5px;
    background: rgba(14, 165, 233, 0.10);
    min-width: 150px;
    min-height: 50px;
  
    &:hover {
      cursor: pointer;
    }
    display: flex;
    padding: 7px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;  
}

.scheduleTable{
  background-color: #F6F6F6;
}