  /* styles.css */
.labWorkContainer {
  display: flex;
  width: 100%;
}

.labDescription {
  font-size: 16px;
  max-width: 80%;
}

.virtualDesktopContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 12px;
}

.description {
  font-size: 16px;
  max-width: 80%;
  margin-bottom: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.instruction {
  flex: 1;
  margin-right: 20px;
  width: 33.33%;
}

.virtualDesktop {
  flex: 2;
  width: 66.67%;
}