.addReservationModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 80%;
  }
  
  .addReservationForm {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 15px;
  
    label {
      font-weight: bold;
      margin-bottom: 5px;
    }
  
    input[type='text'],
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    textarea {
      resize: vertical;
      min-height: 100px;
    }
  }
  
  .timeInputs {
    display: flex;
    justify-content: space-between;
  }
  
  .timeInputs .formGroup {
    flex-basis: 48%;
  }

  .addReservationOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
    display: none;
  }
  
  