.link {
  padding: 10px 20px;
}

.sidePageWrapper {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 200px;
  border-radius: 24px;
  margin: 10px 24px 10px 10px;
  padding: 5px;
  align-items: center;
  flex-shrink: 0;
}
