.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box !important;
  background-color: #f6f6f6;
  border-radius: 24px;
  padding: 8px;
  height: 100%;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 99%;
  gap: 10px;
}

.header .leftSection {
  display: flex;
  align-items: center;
  gap: 50px;
}

.weekNavigation {
  display: flex;
  align-items: center;
  gap: 10px;
}


.labSelection {
  position: relative;

  .labMenu {
    top: 100%;
    z-index: 999;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;

    div{
      cursor: pointer;
    }
  }

  &.open {
    .labMenu {
      display: block;
    }
  }
}

.selectedLab {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--Black, #313144);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: 0.48px;
}

.labMenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
}

.note {
  margin-top: 16px;
  padding-left: 5px;
  color: rgb(99, 99, 99);
  font-size: 14px;
}