.container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
  padding: 16px;
  border-radius: 24px;
  background-color: white;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  white-space: pre-wrap;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: 24px;
  padding: 0 10px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}

.time, .editButton {
  align-self: end;
}
